.cart {
  position: absolute;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: var(--cart-bkg-color);
  width: 500px;
  max-width: 100%;
  padding: 30px 30px 50px;
  top: 30px;
  right: 0;
  z-index: 2;
  box-shadow: 0 5px 11px 2px var(--cart-shadow-color);
}

.header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
}

.carButton {
  border: none;

  &:focus {
    outline: none;
  }
}

.icon {
  font-size: 25px;
  border: none;
}

.iconCount {
  font-size: 12px;
  position: relative;
  top: -10px;
}

.trigger {
  background-color: #fff6ca;
  color: black;
}

.opened {
  background: #eee6ff;
  color: black;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}
