.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  list-style: none;
  padding: 13px 10px;

  &:first-child {
    border-top: 1px dashed #ccc;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.counterWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 0.8em;
  color: #519376;
}

.labels {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.label {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 3px;
}
