.counter {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttonDisabled {
  opacity: 0.4;
  cursor: default;
}
