.button {
  border: none;
  font-size: 30px;
  background: none;
  cursor: pointer;
  color: #406f59;
  margin: 0;
  padding: 0;
  transform: rotate(180deg);
  transition: transform 0.2s;

  &:hover,
  &:focus {
    transform: rotate(180deg) translateX(5px);
  }
}
