.item {
  border-bottom: 1px dashed #ccc;
  list-style: none;
  padding: 10px;

  &:first-child {
    margin-top: 12px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.comment {
  color: #b15f5f;
  font-size: 0.9em;
  margin-top: 5px;
}
