.tab {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.active {
  background: #efe9dd;
  color: #6a4913;
  cursor: default;
}
